/*Mobile*/

.balance {
	background-color: var(--color-background-white);
	border-radius: 30px;
	padding-top: 8px;
	width: 280px;
	height: 80px;
}

.balance__text {
	color: var(--color-text-sixth);
	font-family: var(--font-family-main);
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	padding-left: 32px;
	padding-bottom: 1px;
}
.balance__amount {
	color: var(--color-text-main);
	font-family: var(--font-family-sec);
	font-weight: 700;
	font-size: 30px;
	line-height: 1.5;
}
.balance__currency {
	padding-left: 36px;
	font-family: var(--color-text-main);
	font-weight: 700;
	font-size: 30px;
	line-height: 1.5;
}

/*Tablet*/
@media screen and (min-width: 768px) {
	.balance {
		width: 336px;
		height: 80px;
	}
	.balance__text {
		padding-left: 40px;
	}
}
