.btn {
	padding: 8px 15px 4px 15px;
	border-radius: 50%;
	font-family: 'Circe';
	font-size: 45px;
	line-height: 45px;
	font-weight: 400;
	color: var(--color-btn-second);
	background-color: var(--color-background-turquoise);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	flex-shrink: 0;
	transition: background-color 250ms ease;
}

.btn:hover,
.btn:focus {
	background-color: rgb(0, 128, 0);
	border: none;
	outline: none;
}
