.homeScreenBox {
  min-height: 100vh;
}

.formBackground {
  display: none;
}

.homeScreenBox__pinkellipse {
  display: none;
}

.homeScreenBox__purpellipse {
  display: none;
}

@media screen and (min-width: 768px) {
  .homeScreenBox {
    background-color: #e7eaf2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
    gap: 50px;
  }

  .homeScreenBox__pinkellipse {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .homeScreenBox__purpellipse {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .homeScreenBox {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .formBackground {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    background-color: #ffffff66;
  }
}
