:root {
	--color-text-main: #000000;
	--color-text-sec: #bdbdbd;
	--color-text-third: #ff6596;
	--color-text-fourth: #24cca7;
	--color-text-fifth: #fff;
	--color-text-sixth: #a6a6a6;

	--color-background-main: #e7eaf2;
	--color-background-blur: rgba(255, 255, 255, 0.4);
	--color-background-pink: #ff6596;
	--color-background-turquoise: #24cca7;
	--color-background-white: #fff;

	--color-btn: #24cca7;
	--color-btn-second: #fff;

	--font-weight: 700;

	--font-family-main: Circe;
	--font-family-sec: Poppins;
	--font-size-main: 18px;
	--font-size-sec: 16px;
	--font-size-third: 30px;
	--font-size-fourth: 12px;
	--font-size-fifth: 14px;
	--font-weight: 700;

	--transition-duration: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
