.btnLink {
	color: var(--color-btn-link-main);
	font-family: var(--font-family-main);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: 2px;
	text-align: center;
	display: block;
	border: solid 1px var(--color-btn-link-main);
	border-radius: 20px;
	padding: 13px 0;
}

.btnLink:hover {
	color: var(--color-btn-link-main-focus);
	border-color: var(--color-btn-link-main-focus);
}

.btnLink:active {
	color: var(--color-btn-link-main-focus);
	border-color: var(--color-btn-link-main-focus);
}

.btnLink:focus {
	color: var(--color-btn-link-main-focus);
	border-color: var(--color-btn-link-main-focus);
	stroke: none;
}

@media screen and (min-width: 768px) {
	.btnLink {
		width: 300px;
	}
}
