.buttonSubmit {
  color: white;
  /* font-family: Circe; */
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  background-color: #24cca7;
  border: none;
  border-radius: 20px;
  padding: 13px 0;
}

.buttonSubmit:hover {
  background-color: #17836b;
  border: none;
}

.buttonSubmit:active {
  background-color: #17836b;
  border: none;
}

.buttonSubmit:focus {
  background-color: #17836b;
  border: none;
}

@media screen and (min-width: 768px) {
  .buttonSubmit {
    width: 300px;
  }
}
