.buttonSubmit {
	color: var(--color-text-fifth);
	font-family: var(--font-family-main);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: 2px;
	text-align: center;
	display: block;
	background-color: var(--color-btn-link-sec);
	border: none;
	border-radius: 20px;
	padding: 13px 0;
}

.buttonSubmit:hover {
	background-color: var(--color-btn-link-sec-focus);
	border: none;
}

.buttonSubmit:active {
	background-color: var(--color-btn-link-sec-focus);
	border: none;
}

.buttonSubmit:focus {
	background-color: var(--color-btn-link-sec-focus);
	border: none;
}

@media screen and (min-width: 768px) {
	.buttonSubmit {
		width: 300px;
	}
}
