.container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 auto;
  width: 280px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .container {
    display: block;
    width: 704px;
  }
}

.diagramWrap {
  position: relative;

  @media (min-width: 768px) {
    position: absolute;
  }
}

.diagramTitle {
  font-family: 'Poppins';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;
  @media (mmin-width: 768px) {
    text-align: center;
    margin-bottom: 20px;
  }
}
