.doughnut {
  width: 280px;
  height: 280px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .doughnut {
    position: absolute;
    width: 336px;
    height: 336px;
    top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .doughnut {
    width: 288px;
    height: 288px;
  }
}
